# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
public/static/js/bundle.js
.parcel-cache/
webpack-stats.json

# Logs
logs/
*.log
logs/*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local
.env.*.local

# Babel cache
.babelrc.cache.json

# Parcel cache
.cache/